/* ==================== LIST STYLING ==================== */
ul {
  list-style: none; /* supprime les points par défaut */
  padding: 0;
  width: 100%;
}

li {
  position: relative;
  padding-left: 25px;
  margin-bottom: 10px;
  background-color: #ffe6e6;
  border-radius: 10px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e06666;
}

li::before {
  position: absolute;
  left: 5px;
}
