body {
  display: flex;
  justify-content: center;
}
#root {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px salmon solid;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
#result {
  font-size: large;
}
